In [ ]:
import os
import pandas as pd
import numpy as np

# People Vaccination stages

In [ ]:
target_date = "2022-12-31"

data = pd.read_csv("/content/vaccinations.csv")
specific_date_row = data[data['date'] == target_date]

In [ ]:
data.dtypes

location                                object
iso_code                                object
date                                    object
total_vaccinations                     float64
people_vaccinated                      float64
people_fully_vaccinated                float64
total_boosters                         float64
daily_vaccinations_raw                 float64
daily_vaccinations                     float64
total_vaccinations_per_hundred         float64
people_vaccinated_per_hundred          float64
people_fully_vaccinated_per_hundred    float64
total_boosters_per_hundred             float64
daily_vaccinations_per_million         float64
daily_people_vaccinated                float64
daily_people_vaccinated_per_hundred    float64
dtype: object

In [ ]:

column_sums = specific_date_row[['people_vaccinated', 'people_fully_vaccinated', 'total_boosters']].sum()
column_sum =pd.DataFrame(column_sums)

total_sum = column_sums[['people_vaccinated', 'people_fully_vaccinated', 'total_boosters']].sum()

# Calculate the percentage distribution
column_sum["percentage"] = (column_sums[['people_vaccinated', 'people_fully_vaccinated', 'total_boosters']] / total_sum) * 100
column_sum.rename_axis('vaccinations', inplace=True)
column_sum.rename(columns={0: 'total_num'}, inplace=True)
column_sum['total_num'] = column_sum['total_num'].astype(int)
column_sum.to_csv("/content/vaccinations_processed.csv")

# Deaths over month

In [ ]:
import pandas as pd
df = pd.read_csv("/content/weekly_deaths.csv")
lower_date = "2021-01-01"
upper_date = "2022-12-31"
# Use boolean indexing to filter the DataFrame for rows within the specified date range
subset_df = df[(df['date'] >= lower_date) & (df['date'] <= upper_date)]
subset_df.head()

,date,World,Afghanistan,Africa,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,...,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
364,2021-01-01,83824.0,66.0,4069.0,57.0,51.0,0.0,1.0,10.0,0.0,...,46.0,0.0,0.0,0.0,23.0,0.0,0.0,4.0,7.0,24.0
365,2021-01-02,85038.0,63.0,4206.0,56.0,40.0,0.0,1.0,9.0,0.0,...,46.0,0.0,0.0,0.0,22.0,0.0,0.0,4.0,9.0,28.0
366,2021-01-03,86299.0,63.0,4287.0,52.0,47.0,0.0,1.0,7.0,0.0,...,50.0,0.0,0.0,0.0,18.0,0.0,0.0,4.0,10.0,36.0
367,2021-01-04,87273.0,60.0,4466.0,47.0,44.0,0.0,1.0,8.0,0.0,...,54.0,0.0,0.0,0.0,19.0,0.0,0.0,3.0,11.0,31.0
368,2021-01-05,87195.0,55.0,4606.0,40.0,43.0,0.0,1.0,6.0,0.0,...,46.0,0.0,0.0,0.0,20.0,0.0,0.0,2.0,14.0,30.0

In [ ]:
subset_df['date'] = pd.to_datetime(subset_df['date'])

# Set 'date' as the index of the DataFrame (required for resampling)
subset_df.set_index('date', inplace=True)

# Resample the data on a monthly basis and sum the values for each month
resampled_df = subset_df.resample('M').sum()

print(resampled_df)

                World  Afghanistan    Africa  Albania  Algeria  \
date
2021-01-31  2999907.0       1588.0  174416.0   1322.0   1032.0
2021-02-28  2253755.0        311.0  101386.0   2575.0    661.0
2021-03-31  1966853.0        235.0   66690.0   3430.0    753.0
2021-04-30  2521147.0        893.0   61519.0   1296.0    971.0
2021-05-31  2751635.0       2005.0   63085.0    498.0   1612.0
2021-06-30  1970705.0      12407.0   79448.0     61.0   1665.0
2021-07-31  1838749.0      13384.0  181902.0      6.0   3081.0
2021-08-31  2150530.0       3736.0  191359.0    202.0   7183.0
2021-09-30  1848299.0        676.0  110243.0   1023.0   4382.0
2021-10-31  1508797.0        448.0   54325.0   1797.0    887.0
2021-11-30  1532264.0        295.0   35398.0   1268.0   1001.0
2021-12-31  1529857.0        326.0   34867.0    887.0   1397.0
2022-01-31  1639263.0        338.0   72223.0    886.0   2032.0
2022-02-28  1999409.0       1225.0   72623.0    929.0   1980.0
2022-03-31  1401469.0        593.0   26451.0    248.0    378.0
2022-04-30   634253.0        147.0    7795.0     38.0     11.0
2022-05-31   368820.0        123.0    7977.0      7.0      1.0
2022-06-30   285863.0        127.0    7364.0      1.0      0.0
2022-07-31   439359.0        167.0    7407.0    229.0      7.0
2022-08-31   515702.0        221.0    3821.0    346.0     14.0
2022-09-30   346258.0        167.0    1846.0     68.0      7.0
2022-10-31   342996.0        159.0    1472.0     26.0     14.0
2022-11-30   309412.0         89.0    1538.0      9.0      0.0
2022-12-31   481745.0         94.0    1753.0     14.0      0.0

            American Samoa  Andorra  Angola  Anguilla  Antigua and Barbuda  \
date
2021-01-31             0.0    106.0   435.0       0.0                  8.0
2021-02-28             0.0     77.0   275.0       0.0                 54.0
2021-03-31             0.0     36.0   221.0       0.0                 99.0
2021-04-30             0.0     68.0   353.0       0.0                 25.0
2021-05-31             0.0     19.0  1138.0       0.0                 73.0
2021-06-30             0.0      0.0   980.0       0.0                  0.0
2021-07-31             0.0      1.0   759.0       0.0                  7.0
2021-08-31             0.0     20.0  1351.0       0.0                  2.0
2021-09-30             0.0      0.0  2182.0       7.0                161.0
2021-10-31             0.0      0.0  1428.0       0.0                238.0
2021-11-30             0.0      6.0   202.0      14.0                117.0
2021-12-31             0.0     60.0   137.0      14.0                 10.0
2022-01-31             0.0     38.0   984.0      17.0                 44.0
2022-02-28             0.0     42.0    47.0      11.0                 72.0
2022-03-31            17.0     15.0     7.0       0.0                  0.0
2022-04-30           158.0      0.0     0.0       0.0                  3.0
2022-05-31            42.0      0.0     0.0       0.0                 18.0
2022-06-30             0.0      0.0     0.0       0.0                 21.0
2022-07-31            14.0      0.0   104.0       4.0                 21.0
2022-08-31             7.0      7.0    15.0       4.0                  7.0
2022-09-30             0.0      7.0     0.0      13.0                  7.0
2022-10-31             0.0      0.0     1.0       0.0                  0.0
2022-11-30             0.0      7.0    50.0       0.0                  0.0
2022-12-31             0.0     14.0    38.0       0.0                  0.0

            ...  Uruguay  Uzbekistan  Vanuatu  Vatican  Venezuela  Vietnam  \
date        ...
2021-01-31  ...   1742.0         0.0      0.0      0.0     1032.0      0.0
2021-02-28  ...   1320.0         0.0      0.0      0.0     1160.0      0.0
2021-03-31  ...   2044.0        16.0      0.0      0.0     1528.0      0.0
2021-04-30  ...  10191.0       138.0      0.0      0.0     3513.0     70.0
2021-05-31  ...  11812.0       272.0      0.0      0.0     3613.0    239.0
2021-06-30  ...   9928.0       298.0      0.0      0.0     3334.0    253.0
2021-07-31  ...   3481.0       788.0      0.0      0.0     3294.0   4975.0
2021-08-31  ...    602.0      1471.0      0.0      0.0     3124.0  66814.0
2021-09-30  ...    195.0      1172.0      0.0      0.0     3083.0  58946.0
2021-10-31  ...    159.0       652.0      0.0      0.0     3085.0  22088.0
2021-11-30  ...    333.0       555.0      0.0      0.0     1947.0  19690.0
2021-12-31  ...    296.0       638.0      0.0      0.0     1408.0  48635.0
2022-01-31  ...   1429.0       491.0      0.0      0.0      734.0  40180.0
2022-02-28  ...   3864.0       537.0      0.0      0.0     1417.0  17803.0
2022-03-31  ...   1611.0        84.0      4.0      0.0      379.0  16785.0
2022-04-30  ...    370.0         0.0     86.0      0.0      206.0   4735.0
2022-05-31  ...    201.0         0.0      8.0      0.0       90.0    334.0
2022-06-30  ...    657.0         0.0      0.0      0.0       62.0     50.0
2022-07-31  ...    554.0         0.0      0.0      0.0      211.0     48.0
2022-08-31  ...    261.0         0.0      0.0      0.0      250.0    144.0
2022-09-30  ...    289.0         0.0      0.0      0.0      144.0    239.0
2022-10-31  ...    228.0         0.0      0.0      0.0       42.0    108.0
2022-11-30  ...    127.0         0.0      0.0      0.0       52.0     64.0
2022-12-31  ...    196.0         0.0      0.0      0.0       20.0     92.0

            Wallis and Futuna   Yemen  Zambia  Zimbabwe
date
2021-01-31                0.0    52.0  2155.0    5393.0
2021-02-28                0.0    64.0  2511.0    2329.0
2021-03-31                0.0  1489.0  1024.0     467.0
2021-04-30                0.0  2519.0   360.0     294.0
2021-05-31               21.0   825.0   187.0     209.0
2021-06-30               28.0   299.0  4863.0     958.0
2021-07-31                0.0   109.0  9420.0   10755.0
2021-08-31                0.0   516.0  1927.0    7747.0
2021-09-30                0.0  1707.0   387.0    1650.0
2021-10-31                0.0  1207.0   103.0     473.0
2021-11-30                0.0   563.0    50.0     212.0
2021-12-31                0.0   274.0   302.0    1529.0
2022-01-31                0.0   143.0  1386.0    2810.0
2022-02-28                0.0   879.0   278.0     462.0
2022-03-31                0.0    90.0   126.0     331.0
2022-04-30                0.0    46.0    67.0     218.0
2022-05-31                0.0     1.0    67.0     213.0
2022-06-30                0.0     0.0   123.0     357.0
2022-07-31                0.0     4.0    85.0     176.0
2022-08-31                0.0    38.0     9.0     128.0
2022-09-30                0.0    14.0     7.0      48.0
2022-10-31                0.0     7.0     0.0      68.0
2022-11-30                0.0     7.0    14.0      54.0
2022-12-31                0.0     0.0    24.0     124.0

[24 rows x 246 columns]

<ipython-input-21-ddc05e1daf77>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_df['date'] = pd.to_datetime(subset_df['date'])

In [ ]:
date_col_deaths = resampled_df.reset_index()
date_col_deaths['date'] = date_col_deaths['date'].dt.strftime('%Y-%m-%d')
date_col_deaths.to_csv("monthly_death_data_processed.csv")

In [ ]:
date_col_deaths.dtypes

date                  object
World                float64
Afghanistan          float64
Africa               float64
Albania              float64
                      ...
Vietnam              float64
Wallis and Futuna    float64
Yemen                float64
Zambia               float64
Zimbabwe             float64
Length: 247, dtype: object

# Cases per month between 01-01-2021 to 31-12-2022

In [ ]:
import pandas as pd
df = pd.read_csv("/content/biweekly_cases.csv")
lower_date = "2021-01-01"
upper_date = "2022-12-31"

# Use boolean indexing to filter the DataFrame for rows within the specified date range
subset_df = df[(df['date'] >= lower_date) & (df['date'] <= upper_date)]
subset_df['date'] = pd.to_datetime(subset_df['date'])

# Set 'date' as the index of the DataFrame (required for resampling)
subset_df.set_index('date', inplace=True)
# Resample the data on a monthly basis and sum the values for each month
resampled_df = subset_df.resample('M').sum()

date_col = resampled_df.reset_index()
date_col['date'] = date_col['date'].dt.strftime('%Y-%m-%d')
date_col.to_csv("monthly_cases_data_processed.csv")

<ipython-input-24-c7ea41ccb175>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_df['date'] = pd.to_datetime(subset_df['date'])

In [ ]:
date_col.head()

,date,World,Afghanistan,Africa,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,...,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
0,2021-01-31,279122345.0,45450.0,11700822.0,240754.0,123457.0,0.0,25032.0,33607.0,61.0,...,305286.0,0.0,0.0,0.0,167079.0,2446.0,7.0,366.0,359646.0,253083.0
1,2021-02-28,171656704.0,13954.0,5791658.0,381950.0,89099.0,0.0,16584.0,16589.0,35.0,...,221285.0,0.0,0.0,0.0,177387.0,10852.0,63.0,956.0,406632.0,68879.0
2,2021-03-31,185882667.0,8443.0,4575259.0,322780.0,63717.0,0.0,13365.0,18280.0,66.0,...,469523.0,4492.0,28.0,0.0,233943.0,2843.0,4654.0,20390.0,180833.0,14436.0
3,2021-04-30,284089720.0,33966.0,4871447.0,117948.0,57349.0,0.0,18601.0,46783.0,374.0,...,1247579.0,85914.0,0.0,0.0,492371.0,3570.0,1509.0,33324.0,59353.0,17390.0
4,2021-05-31,311825374.0,118916.0,4029557.0,29871.0,91687.0,0.0,9422.0,103866.0,834.0,...,1240057.0,145616.0,0.0,0.0,500410.0,41754.0,53.0,8887.0,31560.0,10706.0

In [ ]:
# Specify the columns to keep in a list
columns_to_keep_deaths = ['date', 'World']

# Use indexing to select and keep the specified columns
date_col_deaths = date_col_deaths[columns_to_keep_deaths]

# Specify the columns to keep in a list
columns_to_keep = ['date', 'World']

# Use indexing to select and keep the specified columns
date_col = date_col[columns_to_keep_deaths]
date_col = date_col.rename(columns={'World': 'World_cases'})

date_col = date_col.merge(date_col_deaths)
date_col.head()

date_col.to_csv("merged_death_case_line.csv")

##line chart part 2

In [ ]:
import pandas as pd
date_col_deaths['avg'] = date_col_deaths['World'].map(lambda x: int(x/1000))
date_col_deaths.head(24)

          date      World   avg
0   2021-01-31  2999907.0  2999
1   2021-02-28  2253755.0  2253
2   2021-03-31  1966853.0  1966
3   2021-04-30  2521147.0  2521
4   2021-05-31  2751635.0  2751
5   2021-06-30  1970705.0  1970
6   2021-07-31  1838749.0  1838
7   2021-08-31  2150530.0  2150
8   2021-09-30  1848299.0  1848
9   2021-10-31  1508797.0  1508
10  2021-11-30  1532264.0  1532
11  2021-12-31  1529857.0  1529
12  2022-01-31  1639263.0  1639
13  2022-02-28  1999409.0  1999
14  2022-03-31  1401469.0  1401
15  2022-04-30   634253.0   634
16  2022-05-31   368820.0   368
17  2022-06-30   285863.0   285
18  2022-07-31   439359.0   439
19  2022-08-31   515702.0   515
20  2022-09-30   346258.0   346
21  2022-10-31   342996.0   342
22  2022-11-30   309412.0   309
23  2022-12-31   481745.0   481

In [ ]:
date_col_deaths.to_csv("line_chart_part2_average_monthwise.csv")

##Continent wise vaccination stacked

In [ ]:
#Finding distinct manufacturer name in the data
import pandas as pd

# Create a sample DataFrame
data = pd.read_csv("/content/vaccinations-by-manufacturer.csv")
df = pd.DataFrame(data)

# Find distinct values in 'Column1'
distinct_values = df['vaccine'].unique()

print("Distinct values in 'Column1':", distinct_values)

Distinct values in 'Column1': ['Oxford/AstraZeneca' 'Sinopharm/Beijing' 'Sputnik V' 'Pfizer/BioNTech'
 'Moderna' 'CanSino' 'Sputnik Light' 'Johnson&Johnson' 'Novavax'
 'Sanofi/GSK' 'Valneva' 'Medicago' 'Sinovac' 'Covaxin' 'SKYCovione']

Once we have the vaccinations used, we will then compute the total vaccination administered

In [ ]:
import pandas as pd
df = pd.read_csv("/content/vaccinations-by-manufacturer.csv")
lower_date = "2021-01-01"
upper_date = "2022-12-31"

# Use boolean indexing to filter the DataFrame for rows within the specified date range
subset_df = df[(df['date'] >= lower_date) & (df['date'] <= upper_date)]
subset_df['date'] = pd.to_datetime(subset_df['date'])


vacc_group_by_year = subset_df.groupby(['date', 'vaccine']).agg({'total_vaccinations': 'sum'}).unstack(1)

<ipython-input-1-b677fb5d56cc>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_df['date'] = pd.to_datetime(subset_df['date'])

In [ ]:

#vacc_group_by_year.columns=vacc_group_by_year.columns.droplevel()
vacc_group_by_year.head()
vacc_group_by_year.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 730 entries, 2021-01-01 to 2022-12-31
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CanSino             493 non-null    float64
 1   Covaxin             730 non-null    float64
 2   Johnson&Johnson     730 non-null    float64
 3   Medicago            4 non-null      float64
 4   Moderna             730 non-null    float64
 5   Novavax             730 non-null    float64
 6   Oxford/AstraZeneca  730 non-null    float64
 7   Pfizer/BioNTech     730 non-null    float64
 8   SKYCovione          93 non-null     float64
 9   Sanofi/GSK          730 non-null    float64
 10  Sinopharm/Beijing   730 non-null    float64
 11  Sinovac             730 non-null    float64
 12  Sputnik V           730 non-null    float64
 13  Valneva             730 non-null    float64
dtypes: float64(14)
memory usage: 85.5 KB

In [ ]:
# Set 'date' as the index of the DataFrame (required for resampling)
# Resample the data on a monthly basis and sum the values for each month

resampled_df = vacc_group_by_year.resample('M').sum()
date_vaccination = resampled_df.reset_index()
date_vaccination['date'] = date_vaccination['date'].dt.strftime('%Y-%m-%d')

date_vaccination.head()

vaccine,date,CanSino,Covaxin,Johnson&Johnson,Medicago,Moderna,Novavax,Oxford/AstraZeneca,Pfizer/BioNTech,SKYCovione,Sanofi/GSK,Sinopharm/Beijing,Sinovac,Sputnik V,Valneva
0,2021-01-31,3.0,99.0,3061.0,0.0,1.505197e+08,28.0,2.210500e+04,4.811576e+08,0.0,0.0,1954.0,2715.0,6731200.0,0.0
1,2021-02-28,4.0,272.0,7950.0,0.0,7.187832e+08,463.0,3.499502e+07,1.720373e+09,0.0,11.0,4178423.0,51477786.0,19697571.0,0.0
2,2021-03-31,5.0,509.0,47092901.0,0.0,1.817387e+09,1260.0,4.816621e+08,3.878920e+09,0.0,53.0,51222293.0,217680742.0,57159221.0,0.0
3,2021-04-30,13.0,847.0,203738438.0,0.0,3.057875e+09,2345.0,1.150393e+09,7.121222e+09,0.0,60.0,106908446.0,389185830.0,143446565.0,0.0
4,2021-05-31,8.0,1319.0,358153900.0,0.0,4.364551e+09,3241.0,1.981519e+09,1.214412e+10,0.0,62.0,176336432.0,540854323.0,235413880.0,0.0

In [ ]:
date_vaccination.to_csv("stacked_bar_chart_vaccine.csv")

In [ ]:
import pandas as pd

# Create a sample DataFrame
df = pd.read_csv("/content/vaccinations-by-manufacturer.csv")

# Convert the 'Date' column to datetime
df['date'] = pd.to_datetime(df['date'])

# Create a list of countries for which you want to find the highest date
countries_to_check = df['location'].unique()

# Initialize a dictionary to store the highest dates for each country
highest_dates = {}

# Group the DataFrame by 'Country' and find the highest date for each group
grouped = df.groupby('location')
for country in countries_to_check:
    group = grouped.get_group(country)
    highest_dates[country] = group['date'].max()



print(highest_dates)
# Print the highest dates for each country
for country, highest_date in highest_dates.items():
    print(f"The highest date for Country {country} is: {highest_date}")

{'Argentina': Timestamp('2023-10-13 00:00:00'), 'Austria': Timestamp('2023-06-30 00:00:00'), 'Belgium': Timestamp('2023-09-01 00:00:00'), 'Bulgaria': Timestamp('2023-09-01 00:00:00'), 'Canada': Timestamp('2022-12-04 00:00:00'), 'Chile': Timestamp('2022-08-30 00:00:00'), 'Croatia': Timestamp('2023-09-01 00:00:00'), 'Cyprus': Timestamp('2023-09-01 00:00:00'), 'Czechia': Timestamp('2023-09-16 00:00:00'), 'Denmark': Timestamp('2023-09-01 00:00:00'), 'Ecuador': Timestamp('2022-01-28 00:00:00'), 'Estonia': Timestamp('2023-09-01 00:00:00'), 'Finland': Timestamp('2023-08-25 00:00:00'), 'France': Timestamp('2023-07-10 00:00:00'), 'Germany': Timestamp('2023-04-07 00:00:00'), 'Hong Kong': Timestamp('2023-08-31 00:00:00'), 'Hungary': Timestamp('2023-09-01 00:00:00'), 'Iceland': Timestamp('2022-03-28 00:00:00'), 'Ireland': Timestamp('2023-09-01 00:00:00'), 'Italy': Timestamp('2023-10-12 00:00:00'), 'Japan': Timestamp('2023-05-07 00:00:00'), 'Latvia': Timestamp('2022-07-11 00:00:00'), 'Liechtenstein': Timestamp('2023-06-09 00:00:00'), 'Lithuania': Timestamp('2023-09-01 00:00:00'), 'Luxembourg': Timestamp('2023-08-04 00:00:00'), 'Malta': Timestamp('2023-09-01 00:00:00'), 'Nepal': Timestamp('2022-07-04 00:00:00'), 'Netherlands': Timestamp('2023-09-01 00:00:00'), 'Norway': Timestamp('2023-09-01 00:00:00'), 'Peru': Timestamp('2023-10-12 00:00:00'), 'Poland': Timestamp('2023-09-01 00:00:00'), 'Portugal': Timestamp('2023-09-01 00:00:00'), 'Romania': Timestamp('2022-06-11 00:00:00'), 'Slovakia': Timestamp('2023-06-30 00:00:00'), 'Slovenia': Timestamp('2023-09-01 00:00:00'), 'South Africa': Timestamp('2022-12-26 00:00:00'), 'South Korea': Timestamp('2023-05-26 00:00:00'), 'Spain': Timestamp('2023-09-01 00:00:00'), 'Sweden': Timestamp('2023-09-01 00:00:00'), 'Switzerland': Timestamp('2023-07-03 00:00:00'), 'Ukraine': Timestamp('2022-02-23 00:00:00'), 'United States': Timestamp('2023-03-22 00:00:00'), 'Uruguay': Timestamp('2023-10-10 00:00:00'), 'European Union': Timestamp('2023-10-12 00:00:00')}
The highest date for Country Argentina is: 2023-10-13 00:00:00
The highest date for Country Austria is: 2023-06-30 00:00:00
The highest date for Country Belgium is: 2023-09-01 00:00:00
The highest date for Country Bulgaria is: 2023-09-01 00:00:00
The highest date for Country Canada is: 2022-12-04 00:00:00
The highest date for Country Chile is: 2022-08-30 00:00:00
The highest date for Country Croatia is: 2023-09-01 00:00:00
The highest date for Country Cyprus is: 2023-09-01 00:00:00
The highest date for Country Czechia is: 2023-09-16 00:00:00
The highest date for Country Denmark is: 2023-09-01 00:00:00
The highest date for Country Ecuador is: 2022-01-28 00:00:00
The highest date for Country Estonia is: 2023-09-01 00:00:00
The highest date for Country Finland is: 2023-08-25 00:00:00
The highest date for Country France is: 2023-07-10 00:00:00
The highest date for Country Germany is: 2023-04-07 00:00:00
The highest date for Country Hong Kong is: 2023-08-31 00:00:00
The highest date for Country Hungary is: 2023-09-01 00:00:00
The highest date for Country Iceland is: 2022-03-28 00:00:00
The highest date for Country Ireland is: 2023-09-01 00:00:00
The highest date for Country Italy is: 2023-10-12 00:00:00
The highest date for Country Japan is: 2023-05-07 00:00:00
The highest date for Country Latvia is: 2022-07-11 00:00:00
The highest date for Country Liechtenstein is: 2023-06-09 00:00:00
The highest date for Country Lithuania is: 2023-09-01 00:00:00
The highest date for Country Luxembourg is: 2023-08-04 00:00:00
The highest date for Country Malta is: 2023-09-01 00:00:00
The highest date for Country Nepal is: 2022-07-04 00:00:00
The highest date for Country Netherlands is: 2023-09-01 00:00:00
The highest date for Country Norway is: 2023-09-01 00:00:00
The highest date for Country Peru is: 2023-10-12 00:00:00
The highest date for Country Poland is: 2023-09-01 00:00:00
The highest date for Country Portugal is: 2023-09-01 00:00:00
The highest date for Country Romania is: 2022-06-11 00:00:00
The highest date for Country Slovakia is: 2023-06-30 00:00:00
The highest date for Country Slovenia is: 2023-09-01 00:00:00
The highest date for Country South Africa is: 2022-12-26 00:00:00
The highest date for Country South Korea is: 2023-05-26 00:00:00
The highest date for Country Spain is: 2023-09-01 00:00:00
The highest date for Country Sweden is: 2023-09-01 00:00:00
The highest date for Country Switzerland is: 2023-07-03 00:00:00
The highest date for Country Ukraine is: 2022-02-23 00:00:00
The highest date for Country United States is: 2023-03-22 00:00:00
The highest date for Country Uruguay is: 2023-10-10 00:00:00
The highest date for Country European Union is: 2023-10-12 00:00:00

In [ ]:
import pandas as pd
df = pd.read_csv("/content/vaccinations.csv")
df_class = pd.read_excel("/content/class_by_income.xlsx")
df_class = df_class.rename(columns={'Economy': 'location'})

df = df.dropna(subset=["total_vaccinations"])

date_bound = "2022-08-31"

subset_df = df[(df['date'] == date_bound)]

merged_data = pd.merge(subset_df, df_class, on="location")
merged_data.head(50)

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred,Code,Region,Income group,Lending category
0,Afghanistan,AFG,2022-08-31,1.156252e+07,1.073067e+07,9.939590e+06,NaN,NaN,18980.0,28.11,26.09,24.17,NaN,461.0,12799.0,0.031,AFG,South Asia,Low income,IDA
1,Argentina,ARG,2022-08-31,1.092911e+08,4.131306e+07,3.471246e+07,30499286.0,32174.0,26972.0,240.15,90.78,76.27,67.02,593.0,1835.0,0.004,ARG,Latin America & Caribbean,Upper middle income,IBRD
2,Aruba,ABW,2022-08-31,1.731200e+05,8.968100e+04,8.343900e+04,NaN,7.0,11.0,162.62,84.24,78.38,NaN,103.0,5.0,0.005,ABW,Latin America & Caribbean,High income,NaN
3,Bahrain,BHR,2022-08-31,3.467355e+06,1.240204e+06,1.225349e+06,1001802.0,167.0,161.0,235.52,84.24,83.23,68.05,109.0,22.0,0.001,BHR,Middle East & North Africa,High income,NaN
4,Barbados,BRB,2022-08-31,3.176230e+05,1.632120e+05,1.544110e+05,NaN,18.0,16.0,112.77,57.95,54.82,NaN,57.0,7.0,0.002,BRB,Latin America & Caribbean,High income,NaN
5,Belgium,BEL,2022-08-31,2.581302e+07,9.259462e+06,9.162805e+06,7821353.0,3437.0,2350.0,221.46,79.44,78.61,67.10,202.0,57.0,0.000,BEL,Europe & Central Asia,High income,NaN
6,Bolivia,BOL,2022-08-31,1.454350e+07,7.336499e+06,6.126638e+06,2079014.0,6895.0,6216.0,118.97,60.02,50.12,17.01,509.0,1052.0,0.009,BOL,Latin America & Caribbean,Lower middle income,IBRD
7,Brazil,BRA,2022-08-31,4.703274e+08,1.865199e+08,1.716657e+08,117565662.0,211494.0,234674.0,218.44,86.63,79.73,54.60,1090.0,23112.0,0.011,BRA,Latin America & Caribbean,Upper middle income,IBRD
8,Bulgaria,BGR,2022-08-31,4.523960e+06,NaN,2.069306e+06,NaN,1307.0,1083.0,66.71,NaN,30.51,NaN,160.0,96.0,0.001,BGR,Europe & Central Asia,Upper middle income,IBRD
9,Canada,CAN,2022-08-31,8.877916e+07,3.303146e+07,3.154212e+07,24205581.0,62663.0,32965.0,230.87,85.90,82.02,62.95,857.0,9632.0,0.025,CAN,North America,High income,NaN
10,Chile,CHL,2022-08-31,6.195672e+07,1.805794e+07,1.766135e+07,26812145.0,29318.0,24330.0,316.05,92.11,90.09,136.77,1241.0,710.0,0.004,CHL,Latin America & Caribbean,High income,IBRD
11,China,CHN,2022-08-31,3.432778e+09,NaN,NaN,NaN,272000.0,261286.0,240.75,NaN,NaN,NaN,183.0,47621.0,0.003,CHN,East Asia & Pacific,Upper middle income,IBRD
12,Croatia,HRV,2022-08-31,5.271913e+06,2.317408e+06,2.247551e+06,NaN,565.0,376.0,130.80,57.50,55.77,NaN,93.0,33.0,0.001,HRV,Europe & Central Asia,High income,IBRD
13,Cuba,CUB,2022-08-31,4.121583e+07,1.069760e+07,9.987269e+06,8254912.0,54548.0,43869.0,367.60,95.41,89.08,73.62,3913.0,434.0,0.004,CUB,Latin America & Caribbean,Upper middle income,NaN
14,Czechia,CZE,2022-08-31,1.790229e+07,6.969363e+06,6.884682e+06,4458632.0,5844.0,4789.0,170.60,66.41,65.61,42.49,456.0,88.0,0.001,CZE,Europe & Central Asia,High income,NaN
15,Dominican Republic,DOM,2022-08-31,1.596670e+07,7.270441e+06,6.033290e+06,2443229.0,3322.0,2568.0,142.19,64.75,53.73,21.76,229.0,468.0,0.004,DOM,Latin America & Caribbean,Upper middle income,IBRD
16,Estonia,EST,2022-08-31,2.028316e+06,8.660190e+05,8.582640e+05,519141.0,1381.0,846.0,152.96,65.31,64.72,39.15,638.0,45.0,0.003,EST,Europe & Central Asia,High income,NaN
17,European Union,OWID_EUN,2022-08-31,8.967738e+08,3.348422e+08,3.269767e+08,252011714.0,175839.0,134952.0,199.22,74.39,72.64,55.98,300.0,7683.0,0.002,EUU,NaN,NaN,NaN
18,Finland,FIN,2022-08-31,1.265915e+07,4.520843e+06,4.340764e+06,3797544.0,NaN,9711.0,228.47,81.59,78.34,68.54,1753.0,43.0,0.001,FIN,Europe & Central Asia,High income,NaN
19,France,FRA,2022-08-31,1.494863e+08,5.458495e+07,5.307295e+07,42910500.0,22509.0,21133.0,220.44,80.49,78.26,63.28,312.0,584.0,0.001,FRA,Europe & Central Asia,High income,NaN
20,Germany,DEU,2022-08-31,1.848493e+08,6.479404e+07,6.347026e+07,58868924.0,36403.0,23253.0,221.72,77.72,76.13,70.61,279.0,616.0,0.001,DEU,Europe & Central Asia,High income,NaN
21,Greece,GRC,2022-08-31,2.133234e+07,7.925878e+06,7.635790e+06,6347853.0,2488.0,2253.0,205.42,76.32,73.53,61.13,217.0,100.0,0.001,GRC,Europe & Central Asia,High income,NaN
22,High income,OWID_HIC,2022-08-31,2.608229e+09,9.840298e+08,9.193491e+08,718450464.0,1039396.0,1038780.0,208.57,78.69,73.52,57.45,831.0,77685.0,0.006,HIC,NaN,NaN,NaN
23,India,IND,2022-08-31,2.124187e+09,1.024516e+09,9.423272e+08,157343615.0,2087696.0,2564198.0,149.89,72.29,66.49,11.10,1809.0,92398.0,0.007,IND,South Asia,Lower middle income,IBRD
24,Iraq,IRQ,2022-08-31,1.914687e+07,1.110096e+07,7.806041e+06,239868.0,NaN,5493.0,43.03,24.95,17.54,0.54,123.0,2923.0,0.007,IRQ,Middle East & North Africa,Upper middle income,IBRD
25,Ireland,IRL,2022-08-31,1.105218e+07,4.102120e+06,4.056636e+06,3134684.0,449.0,530.0,220.03,81.66,80.76,62.41,106.0,48.0,0.001,IRL,Europe & Central Asia,High income,NaN
26,Israel,ISR,2022-08-31,1.823072e+07,6.720241e+06,6.155323e+06,5355159.0,297.0,258.0,192.94,71.12,65.14,56.67,27.0,41.0,0.000,ISR,Middle East & North Africa,High income,NaN
27,Italy,ITA,2022-08-31,1.404459e+08,5.089976e+07,4.792384e+07,43130516.0,21820.0,16707.0,237.89,86.22,81.18,73.06,283.0,337.0,0.001,ITA,Europe & Central Asia,High income,NaN
28,Jamaica,JAM,2022-08-31,1.482408e+06,8.278220e+05,7.263170e+05,44146.0,485.0,343.0,52.43,29.28,25.69,1.56,121.0,201.0,0.007,JAM,Latin America & Caribbean,Upper middle income,IBRD
29,Japan,JPN,2022-08-31,3.177008e+08,1.041571e+08,1.027374e+08,110806310.0,466143.0,558097.0,256.31,84.03,82.88,89.39,4503.0,5270.0,0.004,JPN,East Asia & Pacific,High income,NaN
30,Kosovo,OWID_KOS,2022-08-31,1.835582e+06,9.060570e+05,8.245160e+05,105009.0,NaN,24.0,103.00,50.84,46.27,5.89,13.0,9.0,0.001,XKX,Europe & Central Asia,Upper middle income,IDA
31,Lithuania,LTU,2022-08-31,4.497842e+06,1.954493e+06,1.878151e+06,938323.0,152.0,131.0,163.55,71.07,68.29,34.12,48.0,29.0,0.001,LTU,Europe & Central Asia,High income,NaN
32,Low income,OWID_LIC,2022-08-31,2.083670e+08,1.537536e+08,1.250002e+08,9245547.0,315356.0,275177.0,28.25,20.84,16.95,1.25,373.0,267288.0,0.036,LIC,NaN,NaN,NaN
33,Lower middle income,OWID_LMC,2022-08-31,4.491301e+09,2.125035e+09,1.900769e+09,495343913.0,3795157.0,4499264.0,130.86,61.92,55.38,14.43,1311.0,732292.0,0.021,LMC,NaN,NaN,NaN
34,Luxembourg,LUX,2022-08-31,1.342382e+06,4.816170e+05,NaN,427710.0,256.0,243.0,207.29,74.37,NaN,66.05,375.0,3.0,0.000,LUX,Europe & Central Asia,High income,NaN
35,Malaysia,MYS,2022-08-31,7.204999e+07,2.808905e+07,2.749507e+07,16683821.0,1436.0,3882.0,212.30,82.77,81.02,49.16,114.0,289.0,0.001,MYS,East Asia & Pacific,Upper middle income,IBRD
36,Malta,MLT,2022-08-31,1.334248e+06,4.776860e+05,4.705850e+05,NaN,42.0,38.0,250.19,89.57,88.24,NaN,71.0,7.0,0.001,MLT,Middle East & North Africa,High income,NaN
37,New Zealand,NZL,2022-08-31,1.169183e+07,4.296280e+06,4.130291e+06,3265255.0,5290.0,4750.0,225.48,82.86,79.65,62.97,916.0,49.0,0.001,NZL,East Asia & Pacific,High income,NaN
38,North America,OWID_NAM,2022-08-31,1.052634e+09,4.467476e+08,3.853073e+08,239012574.0,305437.0,268467.0,175.34,74.42,64.18,39.81,447.0,136216.0,0.023,NAC,NaN,NaN,NaN
39,Norway,NOR,2022-08-31,1.174523e+07,4.345111e+06,4.052182e+06,3347940.0,21614.0,10683.0,216.13,79.96,74.57,61.61,1966.0,32.0,0.001,NOR,Europe & Central Asia,High income,NaN
40,Pakistan,PAK,2022-08-31,2.925639e+08,1.391099e+08,1.311168e+08,40777384.0,189733.0,140320.0,124.06,58.99,55.60,17.29,595.0,14543.0,0.006,PAK,South Asia,Lower middle income,Blend
41,Peru,PER,2022-08-31,8.334755e+07,2.983268e+07,2.815517e+07,25359701.0,56323.0,61533.0,244.78,87.62,82.69,74.48,1807.0,3249.0,0.010,PER,Latin America & Caribbean,Upper middle income,IBRD
42,Poland,POL,2022-08-31,5.617292e+07,2.277006e+07,2.254637e+07,13678622.0,27516.0,21385.0,140.94,57.13,56.57,34.32,537.0,622.0,0.002,POL,Europe & Central Asia,High income,IBRD
43,Singapore,SGP,2022-08-31,1.465615e+07,5.132485e+06,5.085102e+06,4382847.0,1572.0,1704.0,260.00,91.05,90.21,77.75,302.0,68.0,0.001,SGP,East Asia & Pacific,High income,NaN
44,South Africa,ZAF,2022-08-31,3.745634e+07,2.225688e+07,1.932057e+07,3683589.0,9751.0,7229.0,62.54,37.16,32.26,6.15,121.0,2594.0,0.004,ZAF,Sub-Saharan Africa,Upper middle income,IBRD
45,Spain,ESP,2022-08-31,9.567680e+07,4.129289e+07,4.063320e+07,25902573.0,NaN,4774.0,201.18,86.83,85.44,54.46,100.0,543.0,0.001,ESP,Europe & Central Asia,High income,NaN
46,Switzerland,CHE,2022-08-31,1.598158e+07,6.091553e+06,NaN,4002312.0,4121.0,2210.0,182.85,69.69,NaN,45.79,253.0,52.0,0.001,CHE,Europe & Central Asia,High income,NaN
47,Thailand,THA,2022-08-31,1.420288e+08,5.694609e+07,5.337944e+07,31703321.0,28175.0,31468.0,198.10,79.43,74.45,44.22,439.0,3057.0,0.004,THA,East Asia & Pacific,Upper middle income,IBRD
48,Trinidad and Tobago,TTO,2022-08-31,1.579700e+06,7.530780e+05,7.164070e+05,168246.0,95.0,75.0,103.18,49.19,46.79,10.99,49.0,33.0,0.002,TTO,Latin America & Caribbean,High income,IBRD
49,Tuvalu,TUV,2022-08-31,2.559100e+04,9.603000e+03,9.322000e+03,5528.0,NaN,45.0,225.77,84.72,82.24,48.77,3970.0,4.0,0.035,TUV,East Asia & Pacific,Upper middle income,IDA

In [ ]:
import pandas as pd
df = pd.read_csv("/content/vaccinations.csv")

#df['date'] = pd.to_datetime(df['date'])

# Create a list of countries for which you want to find the highest date
countries_to_check = df['location'].unique()

# Initialize a dictionary to store the highest dates for each country
highest_dates = {}

# Group the DataFrame by 'Country' and find the highest date for each group
grouped = df.groupby('location')
for country in countries_to_check:
    group = grouped.get_group(country)
    highest_dates[country] = group['date'].max()

der = pd.DataFrame(highest_dates, index=[0]).T
der = der.reset_index()
der = der.rename(columns={'index': 'location', 0:"date"})


der.dtypes

location    object
date        object
dtype: object

In [ ]:
merged_df = pd.merge(df, der, on=['location', 'date'], how='inner')
merged_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2023-09-26,21716120.0,18257599.0,17479727.0,2380699.0,NaN,21529.0,52.80,44.39,42.50,5.79,523.0,15640.0,0.038
1,Africa,OWID_AFR,2023-09-17,855269347.0,553200675.0,460463339.0,96808712.0,73786.0,73786.0,59.95,38.77,32.27,6.79,52.0,48289.0,0.003
2,Albania,ALB,2023-07-16,3087677.0,1349150.0,1279231.0,401767.0,NaN,111.0,108.63,47.47,45.01,14.14,39.0,12.0,0.000
3,Algeria,DZA,2022-09-04,15267442.0,7840131.0,6481186.0,575651.0,NaN,628.0,34.00,17.46,14.43,1.28,14.0,0.0,0.000
4,Andorra,AND,2023-08-06,157062.0,57912.0,53501.0,43070.0,NaN,0.0,196.71,72.53,67.01,53.94,0.0,0.0,0.000

In [ ]:
df_class = pd.read_excel("/content/class_by_income.xlsx")
df_class = df_class.rename(columns={'Economy': 'location'})

merged_income_vaccination = pd.merge(merged_df, df_class, on="location")
merged_income_vaccination.head(50)

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred,Code,Region,Income group,Lending category
0,Afghanistan,AFG,2023-09-26,2.171612e+07,1.825760e+07,1.747973e+07,2380699.0,NaN,21529.0,52.80,44.39,42.50,5.79,523.0,15640.0,0.038,AFG,South Asia,Low income,IDA
1,Albania,ALB,2023-07-16,3.087677e+06,1.349150e+06,1.279231e+06,401767.0,NaN,111.0,108.63,47.47,45.01,14.14,39.0,12.0,0.000,ALB,Europe & Central Asia,Upper middle income,IBRD
2,Algeria,DZA,2022-09-04,1.526744e+07,7.840131e+06,6.481186e+06,575651.0,NaN,628.0,34.00,17.46,14.43,1.28,14.0,0.0,0.000,DZA,Middle East & North Africa,Lower middle income,IBRD
3,Andorra,AND,2023-08-06,1.570620e+05,5.791200e+04,5.350100e+04,43070.0,NaN,0.0,196.71,72.53,67.01,53.94,0.0,0.0,0.000,AND,Europe & Central Asia,High income,NaN
4,Angola,AGO,2023-09-17,2.730945e+07,1.640674e+07,9.472763e+06,2816195.0,NaN,12712.0,76.74,46.10,26.62,7.91,357.0,3554.0,0.010,AGO,Sub-Saharan Africa,Lower middle income,IBRD
5,Antigua and Barbuda,ATG,2022-09-16,1.365120e+05,6.429000e+04,6.238400e+04,9838.0,NaN,201.0,145.58,68.56,66.53,10.49,2143.0,5.0,0.005,ATG,Latin America & Caribbean,High income,IBRD
6,Argentina,ARG,2023-10-13,1.164337e+08,4.151267e+07,3.489750e+07,37192610.0,1.0,5353.0,255.84,91.22,76.68,81.72,118.0,111.0,0.000,ARG,Latin America & Caribbean,Upper middle income,IBRD
7,Armenia,ARM,2023-09-03,2.163656e+06,1.124306e+06,9.980710e+05,47379.0,NaN,53.0,77.82,40.44,35.90,1.70,19.0,18.0,0.001,ARM,Europe & Central Asia,Upper middle income,IBRD
8,Aruba,ABW,2023-10-13,1.748250e+05,9.048200e+04,NaN,NaN,NaN,1.0,164.22,84.99,NaN,NaN,9.0,0.0,0.000,ABW,Latin America & Caribbean,High income,NaN
9,Australia,AUS,2023-03-24,6.549236e+07,2.223191e+07,2.164882e+07,NaN,NaN,36214.0,250.19,84.93,82.70,NaN,1383.0,0.0,0.000,AUS,East Asia & Pacific,High income,NaN
10,Austria,AUT,2023-06-30,2.046873e+07,6.899873e+06,6.683263e+06,5405966.0,NaN,56.0,228.97,77.18,74.76,60.47,6.0,1.0,0.000,AUT,Europe & Central Asia,High income,NaN
11,Azerbaijan,AZE,2022-08-28,1.385711e+07,5.373253e+06,4.862494e+06,3362453.0,NaN,1313.0,133.78,51.88,46.94,32.46,127.0,236.0,0.002,AZE,Europe & Central Asia,Upper middle income,IBRD
12,Bahrain,BHR,2022-12-21,3.476633e+06,1.241174e+06,1.226796e+06,1008663.0,NaN,30.0,236.15,84.31,83.33,68.51,20.0,4.0,0.000,BHR,Middle East & North Africa,High income,NaN
13,Bangladesh,BGD,2023-10-12,3.616746e+08,1.515044e+08,1.421933e+08,68558501.0,18.0,24.0,211.28,88.50,83.06,40.05,0.0,5.0,0.000,BGD,South Asia,Lower middle income,IDA
14,Barbados,BRB,2023-06-02,3.817210e+05,1.638460e+05,1.550360e+05,62839.0,NaN,0.0,135.53,58.17,55.05,22.31,0.0,0.0,0.000,BRB,Latin America & Caribbean,High income,NaN
15,Belarus,BLR,2023-08-13,2.247640e+07,6.440581e+06,6.355954e+06,5719809.0,NaN,5260.0,235.73,67.55,66.66,59.99,552.0,8.0,0.000,BLR,Europe & Central Asia,Upper middle income,IBRD
16,Belgium,BEL,2023-09-24,2.970606e+07,9.267479e+06,9.169717e+06,11699571.0,2233.0,9111.0,254.86,79.51,78.67,100.37,782.0,29.0,0.000,BEL,Europe & Central Asia,High income,NaN
17,Belize,BLZ,2023-05-12,NaN,NaN,2.214020e+05,53198.0,NaN,NaN,NaN,NaN,54.63,13.13,NaN,NaN,NaN,BLZ,Latin America & Caribbean,Upper middle income,IBRD
18,Benin,BEN,2022-12-18,4.232541e+06,3.697190e+06,2.742837e+06,NaN,NaN,12809.0,31.70,27.69,20.54,NaN,959.0,11614.0,0.087,BEN,Sub-Saharan Africa,Lower middle income,IDA
19,Bermuda,BMU,2022-07-08,1.320420e+05,4.855400e+04,4.765700e+04,35831.0,NaN,9.0,205.65,75.62,74.22,55.81,140.0,0.0,0.000,BMU,North America,High income,NaN
20,Bhutan,BTN,2022-10-30,2.011426e+06,6.991160e+05,6.776690e+05,634641.0,NaN,92.0,257.07,89.35,86.61,81.11,118.0,13.0,0.002,BTN,South Asia,Lower middle income,IDA
21,Bolivia,BOL,2022-10-07,1.469053e+07,7.361008e+06,6.160585e+06,2167589.0,3953.0,2741.0,120.18,60.22,50.40,17.73,224.0,508.0,0.004,BOL,Latin America & Caribbean,Lower middle income,IBRD
22,Bosnia and Herzegovina,BIH,2022-01-29,1.924950e+06,9.433940e+05,8.460800e+05,NaN,NaN,4315.0,59.53,29.18,26.17,NaN,1334.0,954.0,0.030,BIH,Europe & Central Asia,Upper middle income,IBRD
23,Botswana,BWA,2023-05-07,3.171667e+06,1.951054e+06,1.663490e+06,507654.0,NaN,0.0,120.58,74.18,63.24,19.30,0.0,93.0,0.004,BWA,Sub-Saharan Africa,Upper middle income,IBRD
24,Brazil,BRA,2023-03-22,4.864364e+08,1.896434e+08,1.761642e+08,126388587.0,24197.0,32730.0,225.92,88.08,81.82,58.70,152.0,5685.0,0.003,BRA,Latin America & Caribbean,Upper middle income,IBRD
25,British Virgin Islands,VGB,2022-09-16,4.145300e+04,1.946600e+04,1.826100e+04,3726.0,NaN,5.0,132.30,62.13,58.28,11.89,160.0,2.0,0.006,VGB,Latin America & Caribbean,High income,NaN
26,Bulgaria,BGR,2023-10-13,4.655853e+06,NaN,2.077899e+06,NaN,4240.0,3279.0,68.65,NaN,30.64,NaN,483.0,NaN,NaN,BGR,Europe & Central Asia,Upper middle income,IBRD
27,Burkina Faso,BFA,2023-07-23,7.893609e+06,6.089089e+06,5.232347e+06,4056.0,NaN,9679.0,34.81,26.86,23.08,0.02,427.0,7436.0,0.033,BFA,Sub-Saharan Africa,Low income,IDA
28,Burundi,BDI,2023-08-27,4.142600e+04,3.690900e+04,3.632100e+04,314.0,NaN,16.0,0.32,0.29,0.28,0.00,1.0,0.0,0.000,BDI,Sub-Saharan Africa,Low income,IDA
29,Cambodia,KHM,2023-09-07,4.760160e+07,1.530731e+07,1.468308e+07,10746738.0,NaN,4145.0,283.89,91.29,87.57,64.09,247.0,85.0,0.001,KHM,East Asia & Pacific,Lower middle income,IDA
30,Cameroon,CMR,2023-09-17,4.842306e+06,3.727930e+06,3.173644e+06,792556.0,NaN,1068.0,17.35,13.35,11.37,2.84,38.0,623.0,0.002,CMR,Sub-Saharan Africa,Lower middle income,Blend
31,Canada,CAN,2023-02-02,9.695650e+07,3.476319e+07,3.176213e+07,30431178.0,2270.0,4346.0,252.13,90.40,82.60,79.14,113.0,1567.0,0.004,CAN,North America,High income,NaN
32,Cayman Islands,CYM,2023-04-21,1.518220e+05,6.208500e+04,6.066400e+04,24064.0,NaN,8.0,220.92,90.34,88.27,35.02,116.0,3.0,0.004,CYM,Latin America & Caribbean,High income,NaN
33,Central African Republic,CAF,2023-09-03,3.342248e+06,2.600389e+06,2.484985e+06,366221.0,NaN,3262.0,59.91,46.61,44.54,6.56,585.0,0.0,0.000,CAF,Sub-Saharan Africa,Low income,IDA
34,Chad,TCD,2023-08-13,8.562003e+06,NaN,NaN,4042573.0,NaN,75.0,48.31,NaN,NaN,22.81,4.0,NaN,NaN,TCD,Sub-Saharan Africa,Low income,IDA
35,Chile,CHL,2023-02-08,6.268885e+07,1.808852e+07,1.770012e+07,27474929.0,1342.0,1387.0,319.78,92.27,90.29,140.15,71.0,124.0,0.001,CHL,Latin America & Caribbean,High income,IBRD
36,China,CHN,2023-02-09,3.491077e+09,1.310292e+09,1.276760e+09,826913000.0,NaN,94000.0,244.84,91.89,89.54,57.99,66.0,3571.0,0.000,CHN,East Asia & Pacific,Upper middle income,IBRD
37,Colombia,COL,2023-04-07,9.050661e+07,4.301217e+07,3.701980e+07,14792792.0,NaN,7892.0,174.47,82.92,71.36,28.52,152.0,1470.0,0.003,COL,Latin America & Caribbean,Upper middle income,IBRD
38,Comoros,COM,2022-10-02,8.350210e+05,4.388250e+05,3.970800e+05,NaN,NaN,486.0,99.79,52.44,47.45,NaN,581.0,247.0,0.030,COM,Sub-Saharan Africa,Lower middle income,IDA
39,Costa Rica,CRI,2023-06-02,1.337199e+07,4.641899e+06,4.358863e+06,2957974.0,NaN,5330.0,258.10,89.60,84.13,57.09,1029.0,208.0,0.004,CRI,Latin America & Caribbean,Upper middle income,IBRD
40,Croatia,HRV,2023-10-10,5.365365e+06,2.321940e+06,2.251725e+06,NaN,NaN,163.0,133.12,57.61,55.87,NaN,40.0,17.0,0.000,HRV,Europe & Central Asia,High income,IBRD
41,Cuba,CUB,2023-09-08,4.562202e+07,1.076879e+07,1.003191e+07,8772388.0,1435.0,1388.0,406.90,96.05,89.47,78.24,124.0,78.0,0.001,CUB,Latin America & Caribbean,Upper middle income,NaN
42,Cyprus,CYP,2023-02-22,1.798610e+06,6.711930e+05,6.461420e+05,481275.0,NaN,17.0,200.74,74.91,72.11,53.71,19.0,4.0,0.000,CYP,Europe & Central Asia,High income,NaN
43,Czechia,CZE,2023-09-16,1.862668e+07,6.976659e+06,6.893366e+06,5168005.0,1.0,51.0,177.50,66.48,65.69,49.25,5.0,1.0,0.000,CZE,Europe & Central Asia,High income,NaN
44,Denmark,DNK,2023-09-01,1.497393e+07,4.752101e+06,4.716840e+06,3621753.0,NaN,4.0,254.56,80.79,80.19,61.57,1.0,0.0,0.000,DNK,Europe & Central Asia,High income,NaN
45,Djibouti,DJI,2023-04-18,3.927030e+05,3.720770e+05,3.517120e+05,NaN,NaN,177.0,35.04,33.20,31.38,NaN,158.0,177.0,0.016,DJI,Middle East & North Africa,Lower middle income,IDA
46,Dominica,DMA,2022-10-07,6.764700e+04,3.299500e+04,3.065900e+04,3993.0,NaN,1.0,92.98,45.35,42.14,5.49,14.0,1.0,0.001,DMA,Latin America & Caribbean,Upper middle income,Blend
47,Dominican Republic,DOM,2023-09-03,1.638137e+07,7.352139e+06,6.114473e+06,2566612.0,NaN,636.0,145.89,65.48,54.45,22.86,57.0,226.0,0.002,DOM,Latin America & Caribbean,Upper middle income,IBRD
48,Ecuador,ECU,2023-03-31,3.956420e+07,1.533387e+07,1.424059e+07,10554926.0,NaN,756.0,219.79,85.18,79.11,58.64,42.0,50.0,0.000,ECU,Latin America & Caribbean,Upper middle income,IBRD
49,El Salvador,SLV,2022-10-02,1.128918e+07,4.652597e+06,4.344286e+06,2292292.0,NaN,2370.0,178.16,73.43,68.56,36.18,374.0,332.0,0.005,SLV,Latin America & Caribbean,Upper middle income,IBRD

In [ ]:

df_countries = pd.read_csv("/content/countries.csv")
df_countries = df_countries.rename(columns={'name': 'location', 'country':'iso_code'})

merge_data = pd.merge(merged_income_vaccination, df_countries, on=["location"])

In [ ]:
#since the above table has many irrelavant columns we will only focus on

In [ ]:
merge_data.head()

,location,iso_code_x,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,...,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred,Code,Region,Income group,Lending category,iso_code_y,latitude,longitude
0,Afghanistan,AFG,2023-09-26,21716120.0,18257599.0,17479727.0,2380699.0,NaN,21529.0,52.80,...,523.0,15640.0,0.038,AFG,South Asia,Low income,IDA,AF,33.939110,67.709953
1,Albania,ALB,2023-07-16,3087677.0,1349150.0,1279231.0,401767.0,NaN,111.0,108.63,...,39.0,12.0,0.000,ALB,Europe & Central Asia,Upper middle income,IBRD,AL,41.153332,20.168331
2,Algeria,DZA,2022-09-04,15267442.0,7840131.0,6481186.0,575651.0,NaN,628.0,34.00,...,14.0,0.0,0.000,DZA,Middle East & North Africa,Lower middle income,IBRD,DZ,28.033886,1.659626
3,Andorra,AND,2023-08-06,157062.0,57912.0,53501.0,43070.0,NaN,0.0,196.71,...,0.0,0.0,0.000,AND,Europe & Central Asia,High income,NaN,AD,42.546245,1.601554
4,Angola,AGO,2023-09-17,27309449.0,16406741.0,9472763.0,2816195.0,NaN,12712.0,76.74,...,357.0,3554.0,0.010,AGO,Sub-Saharan Africa,Lower middle income,IBRD,AO,-11.202692,17.873887

In [ ]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171 entries, 0 to 170
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   location                             171 non-null    object
 1   iso_code_x                           171 non-null    object
 2   date                                 171 non-null    object
 3   total_vaccinations                   161 non-null    float64
 4   people_vaccinated                    162 non-null    float64
 5   people_fully_vaccinated              159 non-null    float64
 6   total_boosters                       145 non-null    float64
 7   daily_vaccinations_raw               31 non-null     float64
 8   daily_vaccinations                   161 non-null    float64
 9   total_vaccinations_per_hundred       161 non-null    float64
 10  people_vaccinated_per_hundred        162 non-null    float64
 11  people_fully_vaccinated_per_hundred  159 non-null    float64
 12  total_boosters_per_hundred           145 non-null    float64
 13  daily_vaccinations_per_million       161 non-null    float64
 14  daily_people_vaccinated              162 non-null    float64
 15  daily_people_vaccinated_per_hundred  162 non-null    float64
 16  Code                                 171 non-null    object
 17  Region                               171 non-null    object
 18  Income group                         171 non-null    object
 19  Lending category                     117 non-null    object
 20  iso_code_y                           170 non-null    object
 21  latitude                             171 non-null    float64
 22  longitude                            171 non-null    float64
dtypes: float64(15), object(8)
memory usage: 32.1+ KB

In [ ]:
columns_to_keep = ["location", "iso_code_x", "latitude", "longitude", "people_fully_vaccinated_per_hundred", "Income group"]
final_df = merge_data[columns_to_keep]
final_df.head()

,location,iso_code_x,latitude,longitude,people_fully_vaccinated_per_hundred,Income group
0,Afghanistan,AFG,33.939110,67.709953,42.50,Low income
1,Albania,ALB,41.153332,20.168331,45.01,Upper middle income
2,Algeria,DZA,28.033886,1.659626,14.43,Lower middle income
3,Andorra,AND,42.546245,1.601554,67.01,High income
4,Angola,AGO,-11.202692,17.873887,26.62,Lower middle income

In [ ]:
final_df = final_df.dropna()
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159 entries, 0 to 170
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   location                             159 non-null    object
 1   iso_code_x                           159 non-null    object
 2   latitude                             159 non-null    float64
 3   longitude                            159 non-null    float64
 4   people_fully_vaccinated_per_hundred  159 non-null    float64
 5   Income group                         159 non-null    object
dtypes: float64(3), object(3)
memory usage: 8.7+ KB

In [ ]:
final_df.to_csv("bubble_map_data_vacc_per_hundred.csv")

In [ ]:
import pandas as pd
import numpy as np

# Sample DataFrame with NaN values
data = {'A': [1, 2, np.nan, 4],
        'B': [5, np.nan, np.nan, 8],
        'C': [9, 10, 11, 12]}

df = pd.DataFrame(data)

# Drop rows with NaN values
df = df.dropna()

# Display the DataFrame after dropping rows with NaN values
print(df)

     A    B   C
0  1.0  5.0   9
3  4.0  8.0  12

In [ ]:
import pandas as pd
df = pd.read_csv("/content/merged_death_case_stacked.csv")
df = df.reset_index()
df["date"] = pd.to_datetime(df["date"])

df.set_index('date', inplace=True)
df.to_csv("merged_death_case_stacked.csv_updated.csv")
df.head()

            index  Unnamed: 0  World_cases      World
date
2021-01-31      0           0  279122345.0  2999907.0
2021-02-28      1           1  171656704.0  2253755.0
2021-03-31      2           2  185882667.0  1966853.0
2021-04-30      3           3  284089720.0  2521147.0
2021-05-31      4           4  311825374.0  2751635.0

In [ ]:
df = df.drop('Unnamed: 0', axis=1)
df.head()

            World_cases      World
date
2021-01-31  279122345.0  2999907.0
2021-02-28  171656704.0  2253755.0
2021-03-31  185882667.0  1966853.0
2021-04-30  284089720.0  2521147.0
2021-05-31  311825374.0  2751635.0

In [ ]:
df.to_csv("merged_death_case_stacked.csv_updated.csv")

In [ ]:
df = pd.read_csv("/content/stacked_bar_chart_vaccine.csv")
df["date"] = pd.to_datetime(df["date"])
df.set_index('date', inplace=True)
df = df.drop("Unnamed: 0", axis=1)
df.to_csv("stacked_bar_chart_vaccine_updated.csv")

In [ ]:
import pandas as pd
df = pd.read_csv("/content/stacked_bar_chart_vaccine.csv")
columns_to_convert = ["CanSino","Covaxin","Johnson&Johnson","Medicago","Moderna","Novavax","Oxford/AstraZeneca","Pfizer/BioNTech","SKYCovione","Sanofi/GSK","Sinopharm/Beijing","Sinovac","Sputnik V","Valneva"]
df[columns_to_convert] = df[columns_to_convert].astype(int)
df = df.drop('Unnamed: 0', axis=1)

df.to_csv("stacked_bar_chart_vaccine_updated.csv")

In [2]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/owid-covid-data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348596 entries, 0 to 348595
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    348596 non-null  object
 1   continent                                   332007 non-null  object
 2   location                                    348596 non-null  object
 3   date                                        348596 non-null  object
 4   total_cases                                 310624 non-null  float64
 5   new_cases                                   339010 non-null  float64
 6   new_cases_smoothed                          337751 non-null  float64
 7   total_deaths                                289073 non-null  float64
 8   new_deaths                                  339052 non-null  float64
 9   new_deaths_smoothed                         337822 non-null  float64
 10  total_cases_per_million                     310624 non-null  float64
 11  new_cases_per_million                       339010 non-null  float64
 12  new_cases_smoothed_per_million              337751 non-null  float64
 13  total_deaths_per_million                    289073 non-null  float64
 14  new_deaths_per_million                      339052 non-null  float64
 15  new_deaths_smoothed_per_million             337822 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                37568 non-null   float64
 18  icu_patients_per_million                    37568 non-null   float64
 19  hosp_patients                               38839 non-null   float64
 20  hosp_patients_per_million                   38839 non-null   float64
 21  weekly_icu_admissions                       10186 non-null   float64
 22  weekly_icu_admissions_per_million           10186 non-null   float64
 23  weekly_hosp_admissions                      23206 non-null   float64
 24  weekly_hosp_admissions_per_million          23206 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          79197 non-null   float64
 35  people_vaccinated                           75808 non-null   float64
 36  people_fully_vaccinated                     72465 non-null   float64
 37  total_boosters                              47460 non-null   float64
 38  new_vaccinations                            65244 non-null   float64
 39  new_vaccinations_smoothed                   180595 non-null  float64
 40  total_vaccinations_per_hundred              79197 non-null   float64
 41  people_vaccinated_per_hundred               75808 non-null   float64
 42  people_fully_vaccinated_per_hundred         72465 non-null   float64
 43  total_boosters_per_hundred                  47460 non-null   float64
 44  new_vaccinations_smoothed_per_million       180595 non-null  float64
 45  new_people_vaccinated_smoothed              180379 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  180379 non-null  float64
 47  stringency_index                            197651 non-null  float64
 48  population_density                          295905 non-null  float64
 49  median_age                                  275190 non-null  float64
 50  aged_65_older                               265567 non-null  float64
 51  aged_70_older                               272432 non-null  float64
 52  gdp_per_capita                              269704 non-null  float64
 53  extreme_poverty                             173815 non-null  float64
 54  cardiovasc_death_rate                       270326 non-null  float64
 55  diabetes_prevalence                         284078 non-null  float64
 56  female_smokers                              202786 non-null  float64
 57  male_smokers                                200028 non-null  float64
 58  handwashing_facilities                      132401 non-null  float64
 59  hospital_beds_per_thousand                  238640 non-null  float64
 60  life_expectancy                             320697 non-null  float64
 61  human_development_index                     262013 non-null  float64
 62  population                                  348596 non-null  float64
 63  excess_mortality_cumulative_absolute        12162 non-null   float64
 64  excess_mortality_cumulative                 12162 non-null   float64
 65  excess_mortality                            12162 non-null   float64
 66  excess_mortality_cumulative_per_million     12162 non-null   float64
dtypes: float64(62), object(5)
memory usage: 178.2+ MB

In [3]:

column_to_keep = ["iso_code", "continent", "location", "date", "total_cases_per_million", "total_deaths_per_million"]
df = df[column_to_keep]
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 272871 entries, 81 to 348595
Data columns (total 6 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   iso_code                  272871 non-null  object
 1   continent                 272871 non-null  object
 2   location                  272871 non-null  object
 3   date                      272871 non-null  object
 4   total_cases_per_million   272871 non-null  float64
 5   total_deaths_per_million  272871 non-null  float64
dtypes: float64(2), object(4)
memory usage: 14.6+ MB

In [4]:
df['date'] = pd.to_datetime(df['date'])

# Create a list of countries for which you want to find the highest date
countries_to_check = df['location'].unique()

# Initialize a dictionary to store the highest dates for each country
highest_dates = {}

# Group the DataFrame by 'Country' and find the highest date for each group
grouped = df.groupby('location')
for country in countries_to_check:
    group = grouped.get_group(country)
    highest_dates[country] = group['date'].max()

der = pd.DataFrame(highest_dates, index=[0]).T
der = der.reset_index()
der = der.rename(columns={'index': 'location', 0:"date"})

merged_df = pd.merge(df, der, on=['location', 'date'], how='inner')
merged_df.head()

der.dtypes

location            object
date        datetime64[ns]
dtype: object

In [5]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 226 entries, 0 to 225
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   iso_code                  226 non-null    object
 1   continent                 226 non-null    object
 2   location                  226 non-null    object
 3   date                      226 non-null    datetime64[ns]
 4   total_cases_per_million   226 non-null    float64
 5   total_deaths_per_million  226 non-null    float64
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 12.4+ KB

In [9]:

df_country_pop = pd.read_csv("/content/countries-table.csv")
column_to_keep_pop = ["country", "pop2022"]
df_country_pop = df_country_pop[column_to_keep_pop]
df_country_pop = df_country_pop.dropna()
df_country_pop = df_country_pop.rename(columns={'country':'location', 'pop2022': 'population'})
df_country_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    234 non-null    object
 1   population  234 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.8+ KB

In [10]:
merged_population_stats = pd.merge(merged_df, df_country_pop, on=['location'], how='inner')
merged_population_stats.head()

,iso_code,continent,location,date,total_cases_per_million,total_deaths_per_million,population
0,AFG,Asia,Afghanistan,2023-10-12,5500.286,193.295,41128771.0
1,ALB,Europe,Albania,2023-10-12,117541.387,1267.979,2842321.0
2,DZA,Africa,Algeria,2023-10-12,6055.868,153.241,44903225.0
3,ASM,Oceania,American Samoa,2023-10-12,188712.044,767.581,44273.0
4,AND,Europe,Andorra,2023-10-12,601367.684,1991.408,79824.0

In [11]:
merged_population_stats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215 entries, 0 to 214
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   iso_code                  215 non-null    object
 1   continent                 215 non-null    object
 2   location                  215 non-null    object
 3   date                      215 non-null    datetime64[ns]
 4   total_cases_per_million   215 non-null    float64
 5   total_deaths_per_million  215 non-null    float64
 6   population                215 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 13.4+ KB

In [12]:
merged_population_stats.to_csv("merged_population_stats.csv")

In [15]:
df_co = pd.read_csv("/content/countries.csv")
df_co = df_co.drop(["iso_code"], axis=1)
merged_population_stats1 = pd.merge(merged_population_stats, df_co, on=["location"], how="inner")
merged_population_stats1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 205 entries, 0 to 204
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   iso_code                  205 non-null    object
 1   continent                 205 non-null    object
 2   location                  205 non-null    object
 3   date                      205 non-null    datetime64[ns]
 4   total_cases_per_million   205 non-null    float64
 5   total_deaths_per_million  205 non-null    float64
 6   population                205 non-null    float64
 7   latitude                  205 non-null    float64
 8   longitude                 205 non-null    float64
dtypes: datetime64[ns](1), float64(5), object(3)
memory usage: 16.0+ KB

In [16]:
merged_population_stats1.to_csv("merged_population_stats.csv")

In [17]:
merged_population_stats1.head(200)

,iso_code,continent,location,date,total_cases_per_million,total_deaths_per_million,population,latitude,longitude
0,AFG,Asia,Afghanistan,2023-10-12,5500.286,193.295,41128771.0,33.939110,67.709953
1,ALB,Europe,Albania,2023-10-12,117541.387,1267.979,2842321.0,41.153332,20.168331
2,DZA,Africa,Algeria,2023-10-12,6055.868,153.241,44903225.0,28.033886,1.659626
3,ASM,Oceania,American Samoa,2023-10-12,188712.044,767.581,44273.0,-14.270972,-170.132217
4,AND,Europe,Andorra,2023-10-12,601367.684,1991.408,79824.0,42.546245,1.601554
...,...,...,...,...,...,...,...,...,...
195,USA,North America,United States,2023-10-12,305763.910,3331.912,338289857.0,37.090240,-95.712891
196,URY,South America,Uruguay,2023-10-12,303622.535,2230.340,3422794.0,-32.522779,-55.765835
197,UZB,Asia,Uzbekistan,2023-10-12,5028.439,29.341,34627652.0,41.377491,64.585262
198,VUT,Oceania,Vanuatu,2023-10-12,36784.149,42.847,326740.0,-15.376706,166.959158
199,VEN,South America,Venezuela,2023-10-12,19528.686,206.913,28301696.0,6.423750,-66.589730